[include fluidd.cfg]
[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#[include PIS.cfg]
[include macros.cfg]
[include KAMP_Settings.cfg ]

[exclude_object]

[gcode_arcs] 

# This file contains common pin mappings for the BIGTREETECH Manta E3EZ
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PB12/PB13)".

# See docs/Config_Reference.md for a description of parameters.


########################################
#          Printer Settings            #
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_19004C000650434E37343120-if00

[mcu host]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2400
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 8.0

[force_move]
enable_force_move: true

[screws_tilt_adjust]
screw1: 84,136
screw1_name:F_CENT _LEFT _BASE_
screw2: 5,55
screw2_name: F _LEFT
screw3: 244,55
screw3_name: F _RIGHT
screw4: 164,136
screw4_name: F_CENT _RIGHT
screw5: 84, 216
screw5_name: B_CENT _LEFT
screw6: 164,216
screw6_name: B_CENT _RIGHT
screw7: 5,295
screw7_name: B _LEFT
screw8: 244,295
screw8_name: B _RIGHT
horizontal_move_z: 10
speed: 100
screw_thread: CCW-M4
horizontal_move_z: 10
speed: 100
screw_thread: CCW-M4
horizontal_move_z: 10
speed: 100
screw_thread: CCW-M4

[input_shaper]
shaper_freq_x: 49.2
shaper_type_x: mzv
shaper_freq_y: 28.6
shaper_type_y: mzv

########################################
#          Stepper Settings            #
########################################

[stepper_x]
step_pin: PA14
dir_pin: PA10
enable_pin: !PA13
microsteps: 64
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 300 # NOTE You can adjust this if you have more room
homing_speed: 40
homing_retract_dist: 0


[stepper_y]
step_pin: PC8
dir_pin: !PA15
enable_pin: !PC14
microsteps: 64
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 300 # NOTE You can adjust this if you have more room
homing_speed: 40
homing_retract_dist: 0

[stepper_z]
step_pin: PB7  #PB7
dir_pin: !PB6 #!PB6
enable_pin: !PB4 #!PB4
microsteps: 64
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -4
position_max: 340  # NOTE You can adjust this if you have more room
homing_speed: 5

[stepper_z1]
step_pin: PD2
dir_pin: !PD4
enable_pin: !PD3
microsteps: 64
rotation_distance: 4

[extruder]
step_pin: PD5
dir_pin: !PD6
enable_pin: !PB3
microsteps: 64
rotation_distance: 4.65
nozzle_diameter: 0.600 #0.400
filament_diameter: 1.750
heater_pin: PB11 #HE0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA5 #TH0
#control: pid
#pid_kd: 86.991
#pid_kp: 21.479
#pid_ki: 1.326
min_temp: 0
max_temp: 300
max_extrude_only_distance: 150.0
pressure_advance: 0.025
max_extrude_cross_section: 5

#[filament_switch_sensor material_0]
#switch_pin: PC5

########################################
#          TMC2209 Settings            #
########################################

[tmc2209 stepper_x]
uart_pin: PB8
diag_pin: PC4
run_current: 0.700
stealthchop_threshold: 999999
sense_resistor: 0.150
driver_SGTHRS: 81
interpolate: False

[tmc2209 stepper_y]
uart_pin: PC9
diag_pin: PB0
run_current: 0.700
stealthchop_threshold: 999999
sense_resistor: 0.150
driver_SGTHRS: 81
interpolate: False

[tmc2209 stepper_z]
uart_pin: PD0
#diag_pin: PC6
run_current: 0.600
sense_resistor: 0.150
stealthchop_threshold: 999999
interpolate: False

[tmc2209 stepper_z1]
uart_pin: PB5
run_current: 0.600
sense_resistor: 0.150
stealthchop_threshold: 999999
interpolate: False

[tmc2209 extruder]
uart_pin: PD1
run_current: 0.550
sense_resistor: 0.150
stealthchop_threshold: 999999

########################################
#          Bed Settings                #
########################################

[heater_bed]
heater_pin: PB2 #HB
sensor_type: EPCOS 100K B57560G104F #Generic 3950
sensor_pin: PA4 #TB
#control: pid
#pid_kp: 64.440
#pid_ki: 0.773
#pid_kd: 1343.571
min_temp: 0
max_temp: 110

#[probe]
#pin: PA6
#x_offset: 27
#y_offset: -20
#z_offset: 0
#samples: 3
#samples_result: average
#samples_tolerance: 0.01
#samples_tolerance_retries: 5

[bltouch]
sensor_pin: PA6
control_pin: PA7
x_offset: 30.0
y_offset: 0.0
#z_offset: 5.0
speed: 20
stow_on_each_sample = false
samples: 1

[safe_z_home]
home_xy_position: 123, 170
speed: 100.0
z_hop: 10
z_hop_speed: 15

[bed_mesh]
speed: 175
mesh_min: 30, 30
mesh_max: 270, 270
probe_count: 5,5
algorithm: bicubic
fade_start: 0
fade_end: 0
fade_target: 0
zero_reference_position: 123, 170

########################################
#          Fan Settings                #
########################################

[fan]
pin: PB15

[heater_fan fan1]
pin: PA8

[heater_fan fan2]
pin: PB14

########################################
#          Pin Settings                #
########################################
[temperature_sensor host]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp
#   The path to temperature system file. The default is
#   "/sys/class/thermal/thermal_zone0/temp" which is the temperature
#   system file on a Raspberry Pi computer

[filament_switch_sensor material_0]
switch_pin: PC5

[output_pin caselight]
pin: PB10
shutdown_value: 0
value:0.25                             #the brightness at startup (0-1)
#cycle_time: 0.01667
#hardware_pwm: True

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC1, EXP1_3=PC3, EXP1_5=PC0, EXP1_7=PA2, EXP1_9=<GND>,
    EXP1_2=PC2,  EXP1_4=<RST>, EXP1_6=PA0, EXP1_8=PA1, EXP1_10=<5V>

#[temperature_sensor enclosure_temp]
#sensor_type: BME280
#i2c_mcu: host
#i2c_address: 118 #0x76
#i2c_bus: i2c.1


#[bltouch]
#sensor_pin: PA6
#control_pin: PA7

#[output_pin PS_ON]
#pin: PA9

#[output_pin pb9_pin]
#pin: PB9

#[neopixel my_neopixel]
#pin: PC7

#[adxl345]
#cs_pin: PC15
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10

########################################
#          Misc Settings               #
########################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.051
#*# pid_ki = 0.879
#*# pid_kd = 1517.628
#*#
#*# [probe]
#*# z_offset = 1.750
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.020023, -0.022523, -0.055961
#*# 	  -0.008461, -0.020648, -0.019398
#*# 	  0.008102, -0.013773, -0.034711
#*# 	  -0.013461, -0.050336, -0.077836
#*# x_count = 3
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 111.13
#*# max_x = 188.77
#*# min_y = 64.28
#*# max_y = 235.82
#*#
#*# [bltouch]
#*# z_offset = 3.050
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.449
#*# pid_ki = 1.646
#*# pid_kd = 83.538
